<div class="login-container">
    <form [formGroup]="form" (ngSubmit)="login($event)">
        <mat-card class="form-card">
            <mat-card-header class="form-header">
                <mat-card-title>Inicio de Sesión</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="row">
                    <div class="col-xs">
                        <mat-form-field>
                            <input placeholder="correo electrónico" formControlName="email" matInput type="email">
                        </mat-form-field>
                    </div>
                    <div class="text-danger error-text"
                        *ngIf="email?.errors?.['required'] && this.form.get('email')?.touched">
                        Debe ingresar un correo
                    </div>
                    <div class="text-danger error-text"
                        *ngIf="email?.errors?.['email'] && this.form.get('email')?.touched">
                        Debe ingresar un correo válido
                    </div>
                </div>
                <div class="row pt-1">
                    <div class="col-xs">
                        <mat-form-field>
                            <input placeholder="contraseña" formControlName="password" matInput type="password">
                        </mat-form-field>
                    </div>
                    <div class="text-danger error-text"
                        *ngIf="password?.errors?.['required'] && this.form.get('password')?.touched">
                        Debe ingresar una contraseña
                    </div>
                    <div class="text-danger error-text center"
                        *ngIf="form.errors?.['unauthenticated']">
                        Correo electrónico o contraseña incorrecta
                    </div>
                </div>
            </mat-card-content>
            <mat-card-actions class="form-button">
                <button [disabled]="!this.form.valid" mat-raised-button type="submit">Ingresar</button>
            </mat-card-actions>
        </mat-card>
    </form>
</div>
