<div class="user-form-container">
  <div class="back-button example-button-container">
    <button mat-raised-button color="primary" mat-dialog-close routerLink="/courses/see-activities">
      <mat-icon>arrow_back_ios</mat-icon>
      Volver
    </button>
  </div>
  <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <mat-card class="form-card">
      <mat-card-header class="form-header">
        <mat-card-title>Actividad</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div formArrayName="preguntas" *ngIf="this.validQuestion">
          <div *ngFor="let pregunta of preguntas().controls; let i=index" [formGroupName]="i" class="my-2">
            <div>
              <mat-card-subtitle class="mb-1">{{this.activities[i].question}}</mat-card-subtitle>
            </div>
            <div>
              <mat-radio-group class="m-radio" aria-label="Select an option" formControlName="resp">
                <mat-radio-button
                  [value]="this.activities[i].answers[0].text+'::'+i+'::'+this.activities[i].answers[0].isCorrect">
                  {{this.activities[i].answers[0].text}}
                </mat-radio-button>
                <mat-radio-button
                  [value]="this.activities[i].answers[1].text+'::'+i+'::'+this.activities[i].answers[1].isCorrect">
                  {{this.activities[i].answers[1].text}}
                </mat-radio-button>
                <mat-radio-button
                  [value]="this.activities[i].answers[2].text+'::'+i+'::'+this.activities[i].answers[2].isCorrect">
                  {{this.activities[i].answers[2].text}}
                </mat-radio-button>
                <mat-radio-button
                  [value]="this.activities[i].answers[3].text+'::'+i+'::'+this.activities[i].answers[3].isCorrect">
                  {{this.activities[i].answers[3].text}}
                </mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
          <mat-card-actions class="form-button">
            <!-- <p *ngIf="this.response" class="text-success">Usuario creado correctamente</p> -->
            <button mat-raised-button type="submit">Ingresar</button>
          </mat-card-actions>
        </div>
        <div *ngIf="!this.validQuestion">
          <p>Esta tarea ya fue contestada o fue cerrada</p>
        </div>
      </mat-card-content>
    </mat-card>
  </form>
</div>
