<div class="row m-0">
  <div *ngFor="let activity of activities; index as i" class="col-4 my-4 ">
    <mat-card class="text-center card-height">
      <mat-card-title>Actividad {{i + 1}}</mat-card-title>
      <mat-icon>school</mat-icon>
      <mat-card-content style="place-content: center;">
        <p>Estado:
          <span *ngIf="this.activity.open && !this.activity.answered" class="text-success"><b>Abierto</b></span>
          <span *ngIf="!this.activity.open || this.activity.answered" class="text-error"><b>Cerrado</b></span>
          <br/>
          <span *ngIf="this.activity.answered && this.activity.score > 0" class="text-error">Nota: <b>{{this.activity.score}}</b></span>
          <br/>
          <span *ngIf="this.activity.answered" class="text-error"><b>Ya ha sido contestada</b></span>
        </p>
        <p>Fecha de cierre:
          {{this.activity.closeDateAt | date}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button  *ngIf="this.activity.open && !this.activity.answered" (click)="more(activity.id, activity.questionTypeId)" mat-button>Responder</button>
        <button *ngIf="this.activity.answered" (click)="more(activity.id, activity.questionTypeId)" mat-button>Ver Resultado</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
