<h1 class="text-center my-5 color-primary">
    Servicios disponibles
</h1>
<div class="row customCardContainer">
    <div class="col-4 my-2">
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title class="color-primary">Ver Cursos</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="../../../assets/images/classroom.jpg" alt="Photo of a Shiba Inu">
            <mat-card-actions>
                <button mat-button routerLink="/courses" class="color-primary">Ver</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="col-4 my-2">
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title class="color-primary">Agregar Usuario</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="../../../assets/images/add-students.jpg" alt="Photo of a Shiba Inu">
            <mat-card-actions>
                <button mat-button class="color-primary" routerLink="/admin/create-user">Ver</button>
            </mat-card-actions>
        </mat-card>
        </div>
    <div class="col-4 my-2">
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title class="color-primary">Lista estudiantes</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="../../../assets/images/student-list.jpg" alt="Photo of a Shiba Inu">
            <mat-card-actions>
                <button mat-button class="color-primary" routerLink="/admin/all-students">Ver</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="col-4 my-2">
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title class="color-primary">Agregar actividad</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="../../../assets/images/homeworks.JPG" alt="Photo of a Shiba Inu">
            <mat-card-actions>
                <button mat-button class="color-primary" routerLink="/admin/create-activity">Ver</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="col-4 my-2">
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title class="color-primary">Ver actividad</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="../../../assets/images/see-activities.JPG" alt="Photo of a Shiba Inu">
            <mat-card-actions>
                <button mat-button class="color-primary" routerLink="/courses/see-activities">Ver</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>