<h1 class="text-center my-5 color-primary">
    Servicios disponibles
</h1>
<div class="row customCardContainer">
    <div class="col-4">
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title class="color-primary">Ver Cursos</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="../../../assets/images/classroom.jpg" alt="Photo of a Shiba Inu">
            <mat-card-actions>
                <button mat-button routerLink="/courses" class="color-primary">Ver</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="col-4">
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title class="color-primary">Agregar Alumno</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="../../../assets/images/add-students.jpg" alt="Photo of a Shiba Inu">
            <mat-card-actions>
                <button mat-button class="color-primary" routerLink="/admin/create-user">Ver</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>