:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.back-button{
  margin-left: 20px;
  margin-top: 20px;
}
.mat-dialog-container{
  background: linear-gradient(90deg, #226bc3 0%, #2dbdfd 100%);
}

::ng-deep .my-custom-dialog-class {
  mat-dialog-container {
    background: linear-gradient(90deg, #226bc3 0%, #2dbdfd 100%);
  }
}