<div class="row">
  <div class="example-card p-4 col-3" *ngFor="let student of students; index as i">
    <mat-card class="student-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title class="title">
          {{student.name + ' ' + student.secondName + ' ' + student.lastName + ' ' +
          student.secondLastName | slice:0:23}}..
        </mat-card-title>
        <mat-card-subtitle>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions>
        <button class="title" mat-button>Ver</button>
        <button class="title" mat-button>Editar</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>